.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.signedInContent {
  font-family: "Comic Sans MS", "Comic Sans", "cursive";
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 200px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
}

.signUpButton {
  width: 150px;
  height: 50px;
  color: white;
  background-color: #6495ED;
  
  
}
.signUpDiv {
  position: absolute;
  bottom: 67%;
  margin-left: 60px;
}


.label {
  text-align: right;
}
.inputFood {
  margin-left: 60px;
  position: absolute;
  text-align: left;
  bottom: 55%;
  width: 30%;
}

.inputFoodForm {
  width: 100%;
  height: 20px;
  margin-top: 20px;
}


img {
  width: 500px;
  height: 500px;
}
.doctorImage {
  position: relative;
  width: 500px;
  height: 500px;
  bottom: 50%;
  left: 65%;
}

#improveDes {
  color: grey;
  text-align: left;
}

.bodyOne {
  position: absolute;
  background-color: #F0FFFF;
  height: 100%;
  width: 100%;
  font-family: "Comic Sans MS", "Comic Sans", "cursive";
  
}
.improveHeadline {
  margin-left: 60px;
  width: 45%;
  height: 50%;
  position: relative;
  top: 150px;
  text-align: left;

}

.header {
  color:navy;
  text-align: left;
  margin-left: 25px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
